<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
 </head>
 <body>
    <header class="main-header">
        <div class="main-header-top-bar"> 
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo mercado libre">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar producto, marca y más" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito      
            </h2>  
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="http://localhost:3000/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="http://localhost:3000/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>           
    </header>
    <main>
    <img src="/images/img-home-banner.jpg" class="fotolarga" alt="logo mercado libre">
    <section>
        <h2><strong>Basado en tu última visita</strong></h2>
        <article class="article-caja1"> 
            <img src = "/images/img-macbook-pro-2019.jpg" alt="MacbookPro2019">  
            <div class="main-informacion">
                <i id="myI" class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>   
                <h3><strong>Macbook Pro 2019</strong></h3>
            </div>
        </article> 
        <article class="article-caja2"> 
            <img src = "/images/img-cafetera-moulinex.jpg" width="300" height="300" alt="CafeteraMoulinex">  
            <div class="main-informacion">  
                <i class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$30.000</p>
                    <p class="descuento">15% OFF</p>
                </div>
                <h3><strong>Cafetera Moulinex</strong></h3>
            </div>
        </article>       
        <article class="article-caja3"> 
            <img src = "/images/img-macbook-pro-2019.jpg" alt="MacbookPro2019">  
            <div class="main-informacion">
                <i id="myI" class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>   
                <h3><strong>Macbook Pro 2019</strong></h3>
            </div>
        </article> 
        <article class="article-caja4"> 
            <img src = "/images/img-cafetera-moulinex.jpg" width="300" height="300" alt="CafeteraMoulinex">  
            <div class="main-informacion">  
                <i  class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$30.000</p>
                    <p class="descuento">15% OFF</p>
                </div>
                <h3><strong>Cafetera Moulinex</strong></h3>
            </div>
        </article>
    </section>    
    <section>   
        <h2><strong>Sección de Ofertas</strong></h2>
        <article class="article-caja1">  
            <img src = "/images/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="SamsungGalaxyS10">
            <div class="main-informacion"> 
                <i class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$70.500</p>
                    <p class="descuento"> 10% OFF</p>
                </div>
                <h3><strong>Samsung Galaxy S10</strong></h3>
            </div>
        </article>
        <article class="article-caja2"> 
            <img src="/images/img-tv-samsung-smart.jpg" width="300" height="300" alt="SmartTVSamsung">  
            <div class="main-informacion">
                <i class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$300.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h3><strong>Macbook Pro 2019</strong></h3p>
            </div>
        </article>
        <article class="article-caja1">  
            <img src = "/images/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="SamsungGalaxyS10">
            <div class="main-informacion"> 
                <i class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$70.500</p>
                    <p class="descuento"> 10% OFF</p>
                </div>
                <h3><strong>Samsung Galaxy S10</strong></h3>
            </div>
        </article>
        <article class="article-caja2"> 
            <img src="/images/img-tv-samsung-smart.jpg" width="300" height="300" alt="SmartTVSamsung">  
            <div class="main-informacion">
                <i class="fas fa-truck"></i>
                <div class="main-info-p">
                    <p class="precio">$300.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h3><strong>Macbook Pro 2019</strong></h3p>
            </div>
        </article>
    </section>
</main>
    <footer>
         <div class="div-desktop">
             <section class="combo">
            <div class="icono">
                <i class="fas fa-credit-card"></i> 
            </div>
            <p class="titulo">Pagá con tarjeta o efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
         </section>
         <section class="combo"> 
            <div class="icono">
                <i class="fas fa-gift"></i>
            </div>
            <p class="titulo">Envío gratis desde $ 2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
         </section>
         <section class="combo">  
            <div class="icono">
                <i class="fas fa-user-shield"></i>
            </div>
            <p class="titulo">Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
         </section>
        </div>
         <section class="copyright"> 
             <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
         </section>
     </footer>    
 </body>
</html>